@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.tabLabel {
    font-weight: bold;
    font-size: 12px;
  }
  
  .docsCenterTabLabel {
    text-transform: capitalize !important;
    font-family:  Inter, sans-serif !important;
    font-size: 12px !important;
    font-weight: 600 !important;
  }
  
  .getStartedTabLabel {
    text-transform: capitalize !important;
    font-size: 12px !important;
    font-weight: 600 !important;
  }
  
  .helpCenterTabLabel {
    text-transform: capitalize !important;
    font-size: 12px !important;
    font-weight: 600 !important;
  }