@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.sideBar{
  background-color: #f1f1f17d;
  width: 320px;
  padding: 0 1rem;
  transition: width 0.3s ease;
  

  .ant-menu-light{
    background:none;

    .ant-menu-submenu-title .ant-menu-title-content{
        font-size: 14px;
        font-weight: 500;
        font-family: Inter, sans-serif;
    }

    .ant-menu-item .ant-menu-title-content{
        font-size: 12px;
        font-weight: 500;
        font-family: Inter, sans-serif;
    }

}

.ant-menu-light.ant-menu-root.ant-menu-inline{
    border-inline-end:none;
}
}

.sideBar.collapsed {
    width: 40px; /* Set the collapsed width */
  }

.menuItem1 .getStarted{
    padding: 2rem 0 0;
}

.getStarted{
    display: flex;
    justify-content: space-between;
    color: #5555E3;
    font-size: 14px;
    font-family: Inter, sans-serif;
   
}

.getStarted h4{
    margin: 0;
}

.expand-icon {
   margin: 0 auto;
  }

.line{
    width: 90%;
    color: #D6D6D6;
}

.menu{
   
    width: 100%;
    font-family: Inter, sans-serif;
}


