@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.footer{
    position: fixed;
    bottom: 0;
    width: 85%;
    /* left: 320px; */

}

.footerExp{
    width: calc(100% - 60px);
}

.footerContainer{
    padding: 0 10rem 2rem;
    background-color: #fff;
}
.footerArea{
    display: flex;
    justify-content: space-between;
}

.leftsection{
    display: flex;
    align-items: center;
    gap: 1rem;
}

 .leftsection p{
    font-size: 14px ;
    font-weight: 600;
    font-family:  Inter, sans-serif ;
    color: #58596C;
}

.rightsection{
    .ant-btn-default{
        width: 140px;
    height: 48px;
    }
    display: flex;
    gap: 1rem;
}